*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: row;
}
.left{
    width: 300px;
    height: 800px;
    background: #000;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}
.left .l-logo{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.left input{
    border-radius: 10px;
    border-color: black;
}
.left button{
    width: 140px;
    border-radius: 10px;
    border-color: black;;
}
.left .l-nav{
    display: flex;
    justify-content: flex-end;
}
.left .l-nav li{
    list-style: none;
    margin-top: 15px;
}
.left .l-nav li a{
    text-decoration: none;
    display: block;
    width: 230px;
    height: 35px;
    padding-right: 10px;
    background: mediumblue;
    line-height: 35px;
    text-align: right;
    color: snow;
    border-radius: 8px 0px 0px 8px;
}
.left .l-nav li a:hover{
    width: 210px;
    padding-right: 30px;
}
.right{
    flex-basis: 700px;
    width: 700px;
    height: 800px;
    background: snow;
    flex-grow: 1;
    flex-shrink: 1;
}

#login input{
    padding-left: 10px;
}